root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.cs]
indent_size = 4
csharp_style_namespace_declarations = file_scoped:suggestion
csharp_new_line_before_open_brace = all
dotnet_sort_system_directives_first = true

[*.{axaml,xaml,xml,csproj,props,targets}]
indent_size = 2

[*.{yml,yaml,json,md}]
indent_size = 2
