# .NET build output
bin/
obj/
publish/
*.user
*.suo

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# Rider / VS / VSCode
.idea/
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS files
.DS_Store
Thumbs.db
